<div style="width: 80%;" class="mx-auto">
  <h1>New Invite</h1>

  <div>
    <%= link_to "Back", invites_path, class: 'btn btn-secondary' %>
  </div>

  </br>
  </br>

  <%= render "form", invite: @invite %>

  <br>


</div>
